<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Website-Project</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <style>
    body {
      background-color: #f8f9fa;
    }

    .welcome-container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      text-align: center;
    }
  </style>
</head>
<body>
  <div class="welcome-container">
    <div class="welcome-content">
      <h1>Welcome to 'Website-Project'</h1>
    </div>
  </div>
</body>
</html>
