{% extends "base.html" %}

{% block style %}
    .hidden {
        display: none;
    }
{% endblock %}

{% block body %}

    {# <div class="text-center"><h1>Activity data</h1> #}

    {# Create margins #}
    <div class="row">
        <div class="col-2"></div>

        {# Main column (center) #}
        <div class="col-8">
            <legend>See activity data</legend>
            {# Dropdown menu #}
            <div class="mb-3">
                {# <label for="selectActivity" class="form-label">Select activity:</label><br> #}
                <select id="selectActivity" class="form-select border-secondary" name="activity">
                    <option disabled selected value="empty"> -- Select Activity -- </option>
                    {% for data in all_data %}
                        <option value="{{ data.activity }}">{{ data.activity|title }}</option>
                    {% endfor %}
                </select>
            </div>


            {% for data in all_data %}
                {# Table for each activity #}
                <div class="table-responsive">
                    <table class="hidden table table-striped table-bordered border-secondary table-sm align-middle caption-top" id="{{ data.activity }}_table">
                        <caption>{{ data.activity|title }} data</caption>
                        {# Populate header #}
                        <thead>
                            <tr>
                                {% for column_name in data.columns %}
                                    <th class="bs-success-text-emphasis" scope="col">{{ column_name }}</th>
                                {% endfor %}
                            </tr>
                        </thead>

                        {# Populate body #}
                        <tbody class="table-group-divider">
                            {% for row in data.rows %}
                                <tr>
                                    {% for value in row %}
                                        <td>{{ value }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>

                    </table>
                </div>
            {% endfor %}

        </div>
        <div class="col-2"></div>
    </div>

    <script>
        {# Dropdown activity list #}
        const selectActivityForm = document.getElementById("selectActivity");
        const hideMeMarker = "hidden";  // Marker making elements disappear
        const activities = [];

        {% for data in all_data %}
            activities.push("{{ data.activity }}");
        {% endfor %}

        selectActivityForm.addEventListener('change', (event) => {
            const selectedActivity = selectActivityForm.value;
            console.log("Selected activity: " + selectedActivity);

            for (const activity of activities) {
                const activityFormId = `${activity}_table`;
                const activityForm = document.getElementById(activityFormId);

                if (activity == selectedActivity) {
                    // Make visible
                    activityForm.classList.remove(hideMeMarker);
                } else {
                    // Hide
                    activityForm.classList.add(hideMeMarker);
                };
            };
        });
    </script>
{% endblock %}
